@page
@model Bookstore.Pages.CartCompletedModel
@{
}

<div class="text-center">
    <h2>Thank You!</h2>
    <h2>Your books are being processed.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Shop</a>
</div>